#resources-title {
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
}

#categories-header, #action-header, #sub-header {
    font-weight: bold;
    text-align: left;
    margin-top: 4%;
}

